body {
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    background: #FFBA00;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
  
  main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
  
  h1 {
    margin: 5rem auto;
  }
  
  h2 {
    margin: 2rem auto;
  }
  
  img {
    width: 60%;
    min-width: 15rem;
  }
  
  .comment {
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 60%;
    min-width: 15rem;
  }